{% extends 'base.html.twig' %}

{% block title %}Edit Editeur{% endblock %}

{% block body %}
    <h2>Edit Editeur</h2>
    <br>

    {{ include('editeur/_form.html.twig', {'button_label': 'Update'}) }}




{% endblock %}
