{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <div class="page-inner">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">

                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{nbAuteurs}}</h3>
                                <small>Autors</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user fa-5x red"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">

                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{nbLivres}}</h3>
                                <small>Books</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pencil fa-5x blue"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{nbEditeurs}}</h3>
                                <small>Editeur</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-folder fa-5x green"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{nbCategories}}</h3>
                                <small>Categories</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book fa-5x yellow"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{%  block javascripts  %}
    <!-- Morris Chart Js -->
    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>


    <script src="assets/js/easypiechart.js"></script>
    <script src="assets/js/easypiechart-data.js"></script>

    <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>



    <!-- Chart Js -->
    <script type="text/javascript" src="assets/js/Chart.min.js"></script>
    <script type="text/javascript" src="assets/js/chartjs.js"></script>
{%  endblock %}
