{% extends 'base.html.twig' %}
{% block body %}
  <p>
    <b>lastName:</b> {{ val.prenom }}<br>
    <b>firstName:</b> {{ val.nom }}<br>
    <b>biographie:</b> {{ val.bigraphie }}
  </p>
{% endblock%}
